.exhibition{
  
  width: 100vw;
  min-height: 100%;
  height: 2364px;
  background-color: rgb(245, 245, 245);
  position: relative;
  margin: 0;
  padding: 0;
  .exhibition-header{
    text-align: center;
    height: 128px;
  a{
    height: 49px;
    width: 18px;
  }
  img{
    margin: 40px 0 0;
    height: 49px;
    width: 185px;
  }
  }
  .exhibition-main{
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 700px;
    height: 2016px;
    border-top: 1px solid #eee;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    font-size: 16px;
    line-height: 1;
    margin: 0 auto;
    background-color: white;
    position: relative;
    .font{
      padding-top: 20px;
      color: black;
      font-weight: bold;
      text-align: left;
  }
    .botan{
      padding-top: 20px;
      font-size: 12px;
      padding: 0 4px;
      background-color: #ff0211;
      color: #fff;
      margin-left: 8px;
    }

    &__wrapper{
      margin: 0 auto;
      width: 700px;
      height: 2016px;
      .gorira{
        text-align: center;
        font-weight: bold;
        padding: 32px 16px;
        font-size: 22px;
        line-height: 1.5;
      }
      .exhibition-main__image{
        padding: 40px;
        border-top: 1px solid #eee;
        width: 540px;
        height: 223px;
        &__top{
          position: relative;
          height: 162px;
          width: 620px;
          p{
            margin-top: 16px;
          }
          .max{
            margin-top: 16px;
            font-size: 14px;
            font-size: 14px;
            line-height: 1.4em;
          }
          
          }
        &__camera{
          .wide{
            text-align: center;
            top: 50%;
            left: 16px;
            right: 16px;
            text-align: center;
            font-size: 14px;
            line-height: 1.5;
            width: 586px;
            height: 42px;
            .iine{
              
            }
        }
        }
            .exhibition-main__image__into__camera__into{
              min-height: 62px;
              background: #f5f5f5;
              border: 1px dashed #ccc;
              font-size: 12px;
              text-align: center;
              position: absolute;
              height: 80px;
              width: 538px;
              padding: 40px;
              
              .wide {
                position: absolute;
                top: 0;
                left: 0;
                #previews {

                  top: 0;
                  left: 0;

                }
                .js-file {
                  // display: none;
                  
                }
                .js-file_gruop{
                  // display: flex;
                  // justify-content: space-between;
                }
                .js-remove {
                  display: none;
                }
              }
           }
      }
  
      .exhibition-main__entry{
        padding: 40px;
        border-top: 1px solid #eee;
        width: 615px;
        height: 274px;
        
        .top{
          margin: 40px 0 0;
        }

        .font{
          margin: 40px 0 0;
          color: black;
          font-weight: bold;
          text-align: left;
      }
        .botan{
          font-size: 12px;
          padding: 0 4px;
          background-color: #ff0211;
          color: #fff;
          margin-left: 8px;
        }
        .input{
          width: 100%;
          padding: 10px 16px 8px;
          line-height: 1.5;
        }
        .butween{
          margin: 8px 0 0;
        }
        .wide{
          margin: 8px 0 0;
          width: 100%;
          padding: 10px;
          font-size: 16px;
        }
        .iine{
          margin: 0 0 40px;
        }
      }

      .exhibition-main__details{
        padding: 40px 40px 40px 40px;
        border-top: 1px solid #eee;
        width: 615px;
        height: 180px;
          .exhibition-main__details__left{
            float: left;  
            .title{
              font-size: 14px;   
              color: #888;
              margin-block-start: 1em;
              margin-block-end: 1em;
              font-weight: bold;
        }
      }   .exhibition-main__details__right{
            float: right;
            width: 400px;
            margin: 0;

            .top{
              margin: 8px 0 0;
            }
            .nini{
              background-color: gray;
              color: white;
              font-size: 14px;
            }  
            .category{
              width: 100%;
              padding: 0 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              font-size: 16px;
              line-height: 1.5;
              z-index: 2;
              height: 48px;
            }
            .stetas{
              width: 100%;
              padding: 0 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              font-size: 16px;
              line-height: 1.5;
              z-index: 2;
              height: 48px;
            }  
            .bottom{
              margin: 40px 0 0;
            }
      }
      }

      .exhibision-main__shipping{
        padding: 40px;
        border-top: 1px solid #eee;
        width: 615px;
        height: 290px;
        .exhibision-main__shipping__left{
          float: left;
          span{
            font-weight: bold;
            font-size: 14px;  
            color: rgb(136, 136, 136);
          }
          a{
            text-decoration: none;
            touch-action: manipulation;
          }
        }
        .exhibision-main__shipping__right{
            float: right;
            width: 400px;
          .hutan{
            width: 100%;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            z-index: 2;
            height: 48px;
          }
          .tiiki{
            width: 100%;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            z-index: 2;
            height: 48px;
          }
          .day{
            width: 100%;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            z-index: 2;
            height: 48px;
          }
          .top{
            margin: 8px 0 0;
          }
          .bottom{
            margin: 40px 0 0;
          
          }
        }

      }

      .exhibision-main__price{
        padding: 40px;
        border-top: 1px solid #eee;
        width: 620px;
        height: 218px;
        margin: 0;
        .exhibision-main__price__left{
          float: left;
          .value{
            color: #888;
            font-size: 14px;
          }

        }
        .exhibision-main__price__right{
          float: right;
          width: 400px;
          .exhibision-main__price__right__top{
            line-height: 48px;
            width: 100%;
            padding: 0 0 24px;
            justify-content: space-between;
            display: flex;
            .exhibision-main__price__right__input{
              .en{
                width: 50%;
                text-align: right;
              }
            }
        }
          .exhibision-main__price__right__commission{
            padding: 24px 0;
            border-top: 1px solid #ccc;
            .right{
              float: right;
            }
            .fee{
              
            }
            .ten{
              float: right;
            }
         }
          .exhibision-main__price__right__profit {
            padding: 24px 0;
            border-top: 1px solid #ccc;
            .hutoten{
              float: right;
              font-weight: bold;
              font-size: 16px;
            }
            .profit{
              font-weight: bold;
              font-size: 16px;
            }  
        }
        }

        }
        .exhibision-main__footer{
          width: 615px;
          height: 234px;
          padding: 40px;
          border-top: 1px solid #eee;
          .exhibision-main__footer__center{
            text-align: center;
            .uru{
              margin: 40px 0 0;
              -webkit-appearance: push-button;
              user-select: none;
              white-space: pre;
              align-items: flex-start;
              text-align: center;
              cursor: default;
              box-sizing: border-box;
              background: #ea352d;
              border: 1px solid #ea352d;
              color: #fff;
              width: 631px;
              height: 48px;
            }
            .back{
              margin: 24px auto 0;
              background: #aaa;
              border: 1px solid #aaa;
              color: #fff;
              width: 277px;
              height: 48px;
              text-align: center;
           }
        }
          
  
        }
  }
          
  }
    

  .exhibision__bottom{
    width: 456px;
    height: 140px;
    margin: 0 auto;
    background-color: rgb(245, 245, 245);
    padding: 40px 0;
    z-index: 1;
    text-align: center;
    font-size: 12px;
    .b{
      margin: 0 0 0 16px;
    }
    .c{
      margin: 0 0 0 16px;
    }
    .d{
      margin: 0 0 0 16px;
    }
    .single-footer-logo{
      a{
        margin: 40px auto 0;
      }
      width: 80px;
      height: 65px;
      margin: 40px auto 0;

      
    }

    


  }
      
}