
-# <body>
  
-#   <header class="head">

-#     <div class="head-in">

-#       <div class="head-up">

-#         <div class="head-logo">
-#           <a class="head-logo-name" href="/jp/"></a>
-#             <img src="logo.png"  alt="mercari" class="head-logo">
-#         </div>
-#         <form action="/jp/search/" class="head-form">
-#           <input type="search" name="keyword" placeholder="何かお探しですか？"　class="head-search" value>
-#           <button class="head-button">
-#             <svg aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" class="head-search-mark"></svg>
-#           </button>

-#         </form>
-#       </div>

-#       <div class="head-down">

-#         <div class="head-find">
-#           <div class="head-category">
-#             <a href="/jp/category/" class="find-category">
-#               <svg aria-hidden="true" width="20" height="16" viewBox="0 0 20 16" class="find-category-logo">
-#                 <path fill></path>
-#               </svg>
-#               ”カテゴリーから探す”
-#             </a>
-#             <div class="category-kind">
-#               <ul class="category-kind-name"></ul>
-#             </div>
-#           </div>
-#         </div>

-#           <div class="head-brand">
-#             <a href="/jp/brand/" class="find-brand">
-#               <svg aria-hidden="true" width="23" hight="16" viewBox="0 0 23 16" class="find-brands-logo">
-#                 <path fill></path>
-#               </svg>
-#               "ブランドから探す"
-#             </a>
-#             <div class="brand-kind">
-#               <ul class="brand-kind-neme"></ul>
-#             </div>
-#           </div>
-#         </div>
-#         <ul class="head-right">
-#          <li class="head-tell"></li>
-#            <a href="/jp/mypage/nofication/" class="find-tell">
-#             <svg aria-hidenn="true" width="14" height="16" viewBox="0 0 14 16" class="find-tell-logo">
-#               <path fill></path>
-#           </svg>
-#           ”お知らせ”
-#           </a>
-#          <li class="head-to-do"></li>
-#           <a href="/jp/mypage/todo/" class="find-todo">
-#             <svg　aria-hidden="true" width="21"  height="16" viewBox="0 0 21 16" class="find-todo-logo">
-#               <path fill></path>
-#           </svg>
-#           "やることリスト"
-#           </a>
-#          <li class="head-mypage"></li>
-#          <a href="/jp/mypage/" class="find-mypage">
-#            <img src="..." alt class="fing-mypage-logo">
-#         </svg>
-#          "マイページ"
-#         </a>
-#         </ul>
-#       </div>
-#     </div>
-#   </header>

-# </body>
俺がナンバーワンだ