#token_submit {
  width: 320px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #3CCACE;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  top: 65px;
  left: 190px;
}

#charge-form {
  margin: 10px 0;
}

.form-require {
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
}

a {
  text-decoration: none;
} 
.top-link {
  font-size: 13px;
  color: black;
  border: 1px solid #3CCACE;
  padding: 5px;
  margin-top: 5px;
}



