.signup-container {
  background-color: #F5F5F5;
}
.buydetails-mein{
  display: block;
}
.buydetails-content{
  width: 700px;
  margin: 0 auto;
  background: #fff;
  border-width: 0;
  margin-bottom: 20px;
  &__head{
    padding: 16px;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    border-style: solid;
    border-width: 0;
    font-weight: bold;
  }
  &__item{
    padding: 24px 12.5% 0;
    border-top: 1px solid #F5F5F5;
  }
  &__info{
    padding: 24px 12.5% 0;
    border-top: 1px solid #F5F5F5;
  }
  &__inner{
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    h3{
      font-size: 14px;
      font-weight: bold;
    }
  }
  &__item-name{
  width: calc(100% - 80px);
  margin: 0 0 10px 22px;
  text-align: left;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
  }
  &__form{
    width: 100%;
    display: block;
    text-align: center;
    margin-left: 20px;
    span{
      font-size: 18px;
      font-weight: 400;
      margin: 14px 10px 0 0;
      line-height: 1.5;
      font-weight: 600;
    }
  }
  &__accordion{
    padding: 6px;
  }
  &__table{
    display: table;
    border-collapse: collapse;
    width: 100%;
    li{
      font-size: 18px;
    }
  }
  &__pricecell{
    text-align: left;
    display: table-cell;
    padding: 16px 0;
    font-weight: 600;
    width: 100%;
    span{
      font-size: 28px;
      text-align: right;
    }
  }
  &__text{
    color: #EA352D;
    line-height: 1.5;
    font-size: 14px;
    margin-top: 8px;
  }
  &__btn{
    background: #EA352D;
    margin: 16px 0 0;
    padding: 17px;
    width: 50%;
    color: white;
  }
  &__info{
    margin: 40px 0 0;
    padding: 24px 12.5% 0;
    border-top: 1px solid #F5F5F5;
  }
  &__user{
    width: 100%;
    display: block;
    margin: 8px 0 0;
    font-size: 14px;
    line-height: 1.4;
  }
  &__fix{
    display: block;
    text-align: right;
    color: #0099E8;
    width: 100%;
    a{
      text-decoration: none;
    }
  }
  &__infotext{
    margin: 8px 0 0;
    font-size: 14px;
    line-height: 1.4;
    width: 100%;
    display: block;
  }
}
#buydetails-delivery{
  h3 {
    width: 56px;
  }
}
#buydetails-bottom{
  padding-bottom:40px;
}
.buydetails-content-btn {
    background: #3CCACE;
    margin-left: 180px;
    padding: 12px ;
    width: 50%;
    color: white;
    margin-bottom: 50px;
    font-size: 18px;
}
a {
  text-decoration: none;
  font-size: 16px;
}

.top-link {
  width: 50%;
  height: 50px;
  background-color: #3CCACE;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  margin: 50px 130px;
}

#bought-item-name {
  margin-top: 15px;
}

#bought-item-confirm-box {
  margin-bottom: 100px;
}









